<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <header> 
          <nav> 
<a href="/users/home"> Home </a>
<a href="/users/signup"> Sign up </a>
<a href="/users/login"> Log in </a>
<a href="/users/logout"> Log out </a>
 <a href="/rooms/create"> Create room</a>
  <a href="/rooms/all">View all rooms</a>

     </nav>  

  </header>
  <body>
    {{{body}}}
  </body>
</html>
