  <h2> Signup </h2>

 <form method="post" action="/users/signup"> 
<label> Email </label>
<input name="email" value="oshinchiongh@gmail.com"> 
<label> Password </label>
<input name="password" type="password" value="password"> 
<label> fullname </label>
<input name="fullname" type="username" value="test">
 
    <button type="submit">Create account</button>

  </form>


    <p>{{message}}</p>

    

